* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

main {
    min-height: 100%;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: #4d4848;
    color: #fff;
    text-align: center;
    padding-top: 1%;
}

@font-face {
    font-family: 'Conv_Adobe Caslon Pro Regular';
	src: url('fonts/Adobe Caslon Pro Regular.eot');
	src: url('fonts/Adobe Caslon Pro Regular.woff') format('woff'), url('fonts/Adobe Caslon Pro Regular.ttf') format('truetype'), url('fonts/Adobe Caslon Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

header {
    margin-top: 1%;
}

#site-identity {
    display: inline-block;
    position: relative;
    margin-bottom: 1%;
}

header h1 {
    display: none;
}

header h2 {
    color: #4D4848;
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-weight: bold;
    font-size: 1em;
    margin-top: 0;
    padding-top: 0;
}

@media only screen and (max-width: 768px) {
    #site-identity-wrapper {
        display: block;
        max-width: 166px;
        margin: 4% auto 0 auto;
    }

    header h2 {
        font-size: 0.96em;
    }
}

.navbar-inverse {
    background-color: red;
    border: none;
    border-radius: 0;
}

.navbar-inverse .active {
    background-color: #ef0000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #ef0000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #ef0000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #ef0000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #ef0000;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #ef0000;
}

.navbar-inverse .navbar-toggle {
    border-color: #ef0000;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ef0000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #ef0000;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ef0000;
    color: #ffffff;
}

main h2 {
    color: red;
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1.3em;
    font-weight: bold;
}

main h3 {
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1.2em;
    font-weight: bold;
}

main h4, main h5 {
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1.1em;
    font-weight: bold;
}

main strong {
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1em;
}

main p, main address {
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1em;
    text-align: justify;
}

main a {
    font-weight: bold;
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1em;
    color: red;
}

main a:hover, main a:focus, main a:active {
  color: #ef0000;
}

main dl {
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1em;
}

main dd {
    text-align: justify;
    margin-bottom: 2%;
}

main ul, main ol {
    list-style-position: inside;
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1em;
    margin-left: 10px;
}

main img {
  width: 100%;
  height: 85%;
}

main address {
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1em;
}

blockquote {
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1em;
    text-align: justify;
}

figure {
    text-align: center;
}

figcaption {
    color: red;
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.alumni-testimonial {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    .left-sec {
        padding-left: 0;
    }

    .right-sec {
        padding-right: 0;
    }

    .lh3 {
        line-height: 3em;
        margin-bottom: 25px;
    }

    .lh2 {
        line-height: 2em;
        margin-bottom: 25px;
    }

    .lh1 {
        line-height: 1.5;
        margin-bottom: 20px;
    }
}

footer p {
    font-family: 'Conv_Adobe Caslon Pro Regular', serif;
    font-size: 1em;
}
